

<div class="box">
  <div class="row">
    <div class="col-sm">
      <div class="aboutStackO">

      <h2>Learn, Share, Build</h2>
      <p>Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge, and build their careers.</p>
      <p>Join the world's largest developer community.</p>
    </div>
  </div>
    <div class="col-sm">
      <div class="logOn">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Display Name</label>
            <div class="col-sm-10">
              <input type="displayname" class="form-control" id="inputEmail3" placeholder="Display Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="lowerBar">
  <strong>Stack Overflow Business Solutions</strong>: Looking to understand, engage, or hire developers? <a href="https://www.stackoverflowbusiness.com/"> Learn more »</a>
</div>
